// colors
spawn-at-startup "swaybg" "--color" "3c3836"

layout{
    focus-ring {
        // currently off
        // active-color "base0D"
        // inactive-color "base03"
        // urgent-color "base08"

    }
    border {
        active-color "a7c080" // base0D
        inactive-color "859289" // base03
        urgent-color "7fbbb3" // base08
    }
}
