// colors
spawn-at-startup "swaybg" "--color" "3c3836"

layout{
    focus-ring {
        // currently off
        // active-color "base0D"
        // inactive-color "base03"
        // urgent-color "base08"

    }
    border {
        active-color "0066ff" // base0D
        inactive-color "808080" // base03
        urgent-color "ff0000" // base08
    }
}
